# Environments
venv/
env/

# Python
__pycache__/
*.pyc

# Keys and Secrets
.env

# Large Data Files
model_engine/weights/

# tester ipynb
tester.ipynb

.idea/

model_evaluate/outputs/

venv_training/

venv_evoluation/
custom_test_output.wav
custom_unseen_test_output.wav
pathnirwana_test_output.wav
pathnirwana_unseen_test_output.wav
docs/LEXICON_GAP_ANALYSIS.md
